<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" clrForm>
  <clr-input-container>
    <label>
      * Title:
      <input type="text" name="title" formControlName="title" clrInput/>
    </label>
    <clr-control-error>Title is mandatory</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>
      Description:
      <input type="text" name="description" formControlName="description" clrInput/>
    </label>
  </clr-input-container>
  <button class="btn btn-primary" type="submit" [disabled]="!taskForm.valid">{{submitButtonText}}</button>
  <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>
