<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      Task manager
    </div>
    <div class="header-actions">
      <a [title]="'Create task'" [routerLink]="['/createTask']" class="nav-link">Create task</a>
      <a [title]="'All tasks'" [routerLink]="['/tasks']" class="nav-link">All tasks</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



