<h1>Tasks</h1>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'title'">Task title</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'createdAt'">Created</clr-dg-column>
  <clr-dg-column [clrDgField]="'updatedAt'">Updated</clr-dg-column>
  <clr-dg-column [clrDgField]="'priority'">Priority</clr-dg-column>
  <clr-dg-column [style.width.px]="100"></clr-dg-column>
  <clr-dg-column [style.width.px]="100"></clr-dg-column>

  <clr-dg-row *clrDgItems="let task of tasks" [clrDgItem]="task">
    <clr-dg-cell>{{task.title}}</clr-dg-cell>
    <clr-dg-cell>{{task.description}}</clr-dg-cell>
    <clr-dg-cell>{{task.createdAt | date}}</clr-dg-cell>
    <clr-dg-cell>{{task.updatedAt | date}}</clr-dg-cell>
    <clr-dg-cell>{{task.priority}}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm btn-success"
              [class.selected]="task === selectedTask"
              (click)="onSelect(task)"><clr-icon shape="pencil"></clr-icon> Edit</button>
    </clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm btn-danger" (click)="onDelete(task)">Delete</button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Tasks per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} tasks
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-task-form *ngIf="selectedTask"
               [task]="selectedTask"
               [submitButtonText]="'Update task'"
               (taskReady)="onSubmit($event)"
               (cancel)="onCancel()"></app-task-form>
